.ro {
    border-radius: 1rem;
  /*      width: 68%;
    height: 50%;*/
}

.rounded-full {
    border-radius: 1rem;
}

.ro{
    view-transition-name: var(--vt-composer-speech-button);
    background-color: #EBF2FA;
    will-change: auto;
}


.pending{
    background-color: #FBFCFC;
}